body{background:#fff;}

.titlebox{
  color: Black;
  background: PowderBlue;
  text-align: center;
  border: 1px solid SlateBlue;
  padding: 40px;
  margin:0;
}
.header h2{
  color: Black;
  background: PowderBlue;
  text-align: center;
  border: 1px solid SlateBlue;
  padding: 20px;
  margin-bottom:12px;
  
}
.header button {
  color: Black;
  background: PowderBlue;
  text-align: center;
  border: 1px solid SlateBlue;
  border-radius: 5px;;
  padding: 10px;
  margin:0px;
  margin-top: 12px;
  width:100%;
}
.header button:hover{
  background: #a4bbcb;
}
.topbox{
  color: Black;
  background: PowderBlue;
  text-align: center;
  border: 1px solid SlateBlue;
  padding: 40px;
  margin:0;
}
.acontainer{
  display:grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr 1fr;
  grid-gap: 12px;
  grid-template-areas: "map-container content-content" "footer footer";
}

.bcontainer{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap:12px;
}
nav{
  background: #E9E9E9;
  margin: 0px 0px 12px 0px;
  border: 1px solid slateblue;
  border-top: 0px;
}
#map-container{
  grid-area: map-container;
  flex-grow: 1;
}

#content-container{
  grid-area: content-container;
}

#post-container{
  grid-area: post-container;
  flex-grow: 3;
}

#gallery-container{
  grid-area: gallery-container;
  flex-grow: 1;
}

#photos{
  display:flex;
  flex-direction: column;
}

footer{
  text-align: center;
  grid-area: footer;
  height: 20px
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width:100%;
  height:50vh;
}


.main-text-area textarea{
  height: 40vh;
  width: 50vh;
  margin:auto;
}